/.idea
/exam.py
/flask2_webService.py
/flask_webService.py
/I2C.py
/I2C_6.py
/I2C_abcde.py
/I2C_homework.py
/led_blink.py
/light_sensor1.py
/light_sensor2.py
/light_sensor_smartgarodeong.py
/openPiCamera.py
/piCamera.py
/piCamera2.py
/piCamera_face.py
/piCamera_liveStream.py
/temperature_humidity_sensor.py
/webApp_dir
/yerim.py
/_antifragile.py